<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form id="logout" method="POST" action="/signout">
    	<button type'submit' form='logout'> Sign out </button>
  </body>
</html>
